@import "../../../global.scss";

WorldPicker {
	pointer-events: all;

	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: transparent;
}
