@import "../../global.scss";

ToolHints {
	height: 50;

	gap: 5;
	padding: 10;
	padding-left: 5;

	align-self: flex-end;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: rgba(30, 30, 30, 0.5);

	Keybind {
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		font-size: 22px;
		font-weight: 500;
		text-align: center;
		text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);

		.glyph {
			height: 35;
		}
	}
}
