@import "../global.scss";

HUD {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	align-items: center;
	justify-content: center;

	color: $font-color;

	.hud-inner {
		position: absolute;

		top: 50px;
		left: 50px;
		right: 50px;
		bottom: 50px;

		align-items: center;
		justify-content: center;
	}
}
