@import "../../../global.scss";

ToolBar {
	height: 100%;
	width: 300px;

	padding: 5;
	gap: 3;

	align-self: flex-end;
	flex-direction: column;

	// background-color: rgba(30, 30, 30, 0.2);

	.tools-title {
		align-self: center;

		font-size: 30px;
		font-weight: 600;
	}
}
