@import "../../global.scss";

EditorMenu {
	z-index: 500;

	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	align-items: center;
	justify-content: flex-start;

	flex-direction: column;

	&.hide {
		display: none;
	}

	&.show {
		display: flex;
	}

	.menu {
		background-color: rgba(30, 30, 30, 0.9);
	}

	.top {
		position: relative;

		top: 0;

		width: 100%;
		height: auto;

		align-self: flex-start;
		align-content: center;

		background-color: rgba(30, 30, 30, 0.95);

		.bar {
			padding: 5;
			padding-left: 15;

			.game-title {
				font-weight: 600;
				text-align: center;

				align-items: center;
				justify-content: center;
			}
		}
	}

	.middle {
		position: relative;
		width: 100%;

		flex-grow: 1;
		flex-direction: row;

		.left {
			height: 100%;
			flex-shrink: 0;

			align-self: flex-start;
			justify-content: flex-start;
		}

		.center {
			flex-grow: 1;
		}

		.right {
			height: 100%;
			flex-shrink: 0;

			align-self: flex-end;
			justify-content: flex-end;
		}
	}
}
