@import "../../../global.scss";

ToolHints {
	height: 50;

	gap: 5;
	padding: 10;
	padding-left: 5;

	align-self: flex-start;

	flex-direction: row;
	align-items: center;
	justify-content: center;

	background-color: rgba(30, 30, 30, 0.65);
}
