@using Sandbox;
@using Sandbox.UI;
@using GameFish;

@inherits Panel

@namespace Playground.Razor

@{
	var editorTools = Tools;

	if (editorTools is null || !editorTools.Any())
	{
		return;
	}
}

<root>

	<label class="tools-title"> Tools </label>

	@foreach (var tool in editorTools)
	{
		if (!tool.IsValid())
			continue;

		var selClass = tool == ActiveTool ? "selected" : "";

		<Button class="tool-button @selClass" tooltip="@tool.ToolDescription" @onclick=@(() => Select(tool))>

			@tool.ToolName

		</Button>
	}

</root>
