@import "../global.scss";

EditorMenu {
	position: absolute;
	z-index: 500;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	align-items: center;
	justify-content: flex-start;

	color: $font-color;

	font-weight: normal;
	font-family: $font;

	flex-direction: column;

	.top {
		pointer-events: all;

		width: 100%;
		padding: 5;

		align-self: flex-start;

		background-color: rgba(30, 30, 30, 0.8);
	}

	.inner {
		pointer-events: none;

		width: 100%;
		height: 100%;
	}
}
