@using Sandbox;
@using Sandbox.UI;
@using GameFish;

@inherits Panel

@namespace Playground.Razor

@if (!IsOpen)
{
	return;
}

<root>

	<div class="menu bar-top">

		<label class="game-title"> Game Fish - Playground </label>

	</div>

	<div class="menu bar-right">

		<ToolBar />

	</div>

</root>
