@import "../global.scss";

EditorMenu {
	position: absolute;
	z-index: 500;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	align-items: center;
	justify-content: flex-start;

	color: $font-color;

	font-weight: normal;
	font-family: $font;

	flex-direction: column;

	.menu {
		pointer-events: all;
		background-color: rgba(30, 30, 30, 0.9);
	}

	.top {
		width: 100%;
		height: auto;

		align-self: flex-start;
		align-content: center;

		background-color: rgba(30, 30, 30, 0.95);

		.bar {
			padding: 5;
			padding-left: 15;

			.game-title {
				font-weight: 600;
				text-align: center;

				align-items: center;
				justify-content: center;
			}
		}
	}

	.middle {
		width: 100%;
		flex-grow: 1;

		// margin-bottom: -2px; // bugfix hack, fuck you

		flex-direction: row;

		.center {
			flex-grow: 1;
			flex-shrink: 1;
			flex-direction: column;
		}

		.bar-right {
			height: 100%;
			flex-shrink: 0;
			align-self: flex-end;
		}
	}
}
