@using Sandbox;
@using Sandbox.UI;
@using GameFish;

@inherits Panel

@namespace Playground.Razor

@if (!HasEditor)
{
	return;
}

<root>

	@if (!IsOpen)
	{

		<EditorHints />
		return;
	}

	<WorldPicker />

	<div class="top menu">

		<div class="bar">

			<label class="game-title"> Game Fish - Playground </label>

		</div>

	</div>

	<div class="middle">

		<div class="center">

			<ToolHints />

		</div>

		<div class="bar-right menu">

			<ToolBar />

		</div>

	</div>

</root>
